<!DOCTYPE html>
<html>
    <head>

      <meta charset="utf-8">
      <title>Portafolio page here</title>

    </head>

    <body>

      {{> header}}
      <p>Some text here</p>
    </body>

    {{> footer}}

</html>
